* {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
/* #main_content {
  clear: both;
} */
#nav_bar {
  /* display: inline-block; */
  width: 100%;
}

ul {
  display: flex;
  padding-left: 50%;
  background-color: #1f1f1f;
  width: 100%;
}

li a {
  display: block;
  color: white;
  clear: both;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  width: 100px;
}

li a:hover {
  /* border-radius: 1px; */
  /* border-color: 1px #3f00ff; */
  /* background-color: #3f00ff; */
  color: white;
}

li a:active {
  /* underline: 1px solid #3f00ff; */
  /* background-color: green; */
}
#logo {
  width: 15%;
  height: 20%;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  padding-left: 0px;
  position: absolute;
  /* margin-right: 15px; */
  /* margin-top: 0px; */
  /* margin-left: 5px; */
}

img {
  /* min-height: 300px;
  min-width: 300px;
  max-height: 460px;
  max-width: 460px; */
  height: 50%;
  width: 50%;
  padding-left: 45%;
}

@media screen and (max-width: 460px) {
  li {
    width: 100% !important;
  }
}

h1 {
  text-align: center;
  margin: 10px;
}

#about {
  background-color: #fcf8d8;
  border-radius: 3px;
  height: 100%;
  margin: 120px;
  /* margin-bottom: 6px; */
  width: 79%;
}
#about p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; 
}

#services {
  background-color: #7db4fc;
  margin: 120px;
  margin-top: 5px;
  border-radius: 3px;
  width: 79%;
}
#s1 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  padding: 50px;
  width: 370px;
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
#s2 {
  display: inline-block;
  /* width: 49%;
  height: 50%; */
  padding: 50px;
  margin-left: 15px;
  width: 370px;
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
#foot {
  background-color: #1f1f1f;
  color: white;
  padding: 10px;
}

#foot p {
  display: inline;
}
#company_name {
  float: right;
}
